body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f1f6;
    justify-content: center;
}

.block {
    margin-top: 20px;
    padding: 1px 20px 25px 20px;
    background-color: #ffffff;
    border-radius: 15px;
    justify-content: center;

    -webkit-box-shadow: 3px 1px 14px 1px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 3px 1px 14px 1px rgba(34, 60, 80, 0.1);
    box-shadow: 3px 1px 14px 1px rgba(34, 60, 80, 0.1);
}

input {
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 17px;
}

input[type=text], input[type=number] {
    border: 1px solid #c5c5c7;
    background: #fafbfb;
}

input[type=button] {
    border: none;
    background: dodgerblue;
    color: white;
}

input[type=button]:hover {
   background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
}

.block-title {
    text-align: center;
}

.div-table {
    display: table;
    width: auto;
    border-spacing: 5px;
    text-align: center;
}

.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
}

.div-table-row:hover {
    background-color: #f2f1f6;
}

.div-table-head {
    float: left;
    display: table-column;
    width: 150px;
    padding: 5px;
    font-weight: 600;
}

.div-table-cell {
    float: left;
    display: table-column;
    width: 150px;
    padding: 5px;
}

.icon-btn {
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 5px;
    color: #c4c5c6;
}

.icon-btn:hover {
    background-color: #f2f1f6;
}

.good {
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 10px;
}

.good:hover {
    border-radius: 5px;
    background-color: #f2f1f6;
}

.good-img {
    width: 60px;
}

.good-text {
    text-align: center;
    margin-left: 20px;
}
